.dot-tip {
    position: relative;
}

.dot-tip .base {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    border-style: solid;
    border-radius: 50%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.dot-tip .base .dot {
    border-radius: 50%;
}

.dot-tip .line {
    position: absolute;
    left: 0;
    width: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: width .5s;
    transition: width .5s;
}

.dot-tip .text {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    line-height: 1;
    text-align: center;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}