.dot-tip {
    position: relative;
}

.dot-tip .base {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    border-style: solid;
    border-radius: 50%;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    -moz-animation: act 1s ease infinite;
    -webkit-animation: act 1s ease infinite;
    -o-animation: act 1s ease infinite;
    animation: act 1s ease infinite;
}

.dot-tip .base .dot {
    border-radius: 50%;
}

@-webkit-keyframes act {
    0% {
        border-color: rgba(241, 255, 17, .8);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .8);
    }
    50% {
        border-color: rgba(241, 255, 17, .2);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .2);
    }
    100% {
        border-color: rgba(241, 255, 17, .8);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .8);
    }
}

@-moz-keyframes act {
    0% {
        border-color: rgba(241, 255, 17, .8);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .8);
    }
    50% {
        border-color: rgba(241, 255, 17, .2);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .2);
    }
    100% {
        border-color: rgba(241, 255, 17, .8);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .8);
    }
}

@keyframes act {
    0% {
        border-color: rgba(241, 255, 17, .8);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .8);
    }
    50% {
        border-color: rgba(241, 255, 17, .2);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .2);
    }
    100% {
        border-color: rgba(241, 255, 17, .8);
        box-shadow: 0 0 8px 2px rgba(241, 255, 17, .8);
    }
}

.dot-tip .line {
    position: absolute;
    left: 0;
    width: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: width .5s;
    transition: width .5s;
}

.dot-tip .text {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    line-height: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}